<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hl.core.lib">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <application>
        <activity android:name="com.hl.core.lib.permission.CorePermissionActivity"
            android:launchMode="singleTop"
            android:theme="@style/core_TranslucentTheme">
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/core_filepath"
                />
        </provider>
    </application>
</manifest>
